@import "partials/base";

main {
  width: 50%;
  margin: 0 auto;
}

img {
  border-radius: 5px;
  @include square(3.5em);
  float: left;
  margin: 20px 18px 18px 8px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  height: 6em;
  border: $themeBorder;
  background-color: $themeBackgroundColor;
  border-radius: 7px;
  margin-top: .5em;
  margin-left: 0;

}

button{
  border-radius: 5px;
  background-color: $themeBackgroundColor;
  border: $themeBorder;
  color: $themeText;
  margin-top: 1em;
}

p{
  color: $themeText;
  font-family: helvetica;
  margin-top: 0.7em;
  vertical-align: middle;
  text-shadow: 2px 2px white;
  padding: 0;
  font-size: 2.3em;
}

@import "partials/mixins";

// @media screen and (min-width:650px) and (max-width: 700px) {
//   p{
//     font-size: 1.5em;
//     margin-top: 1.4em;
//   }
// }
//
// @media screen and (max-width: 649px) {
//   main {
//     width: 80%;
//   }
//   p{
//     font-size: 1.5em;
//     margin-top: 1.4em;
//   }
// }
